body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 576px;
    margin: 0 auto;
}
canvas {
    border-radius: 50%;
}
h1 {
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    color: #3D8DAE;
    transform: rotate(3deg);
    margin-bottom: 50px;
    margin-left: 30px;
}
h1 .h1-inner {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    min-width: 360px;
    color: #e59f9e;
    border-top: 1px solid #3D8DAE;
    position: relative;
}
h1 .h1-inner::after {
    content: "";
    display: block;
    width: 250px;
    position: absolute;
    left: 55px;
    border-bottom: 5px dotted #e59f9e;
}
h1 .h1-inner span {
    font-size: 22px;
    position: absolute;
    opacity: .65;
    color: #3D8DAE;
    left: 183px;
    transform: rotate(17deg);
}
button.btn {
    background-color: cadetblue;
    border: 1px solid #222;
    outline: none;
    padding: 12px;
    margin-top: 60px;
    cursor: pointer;
    box-shadow: 4px 4px #222;
    border-radius: 4px;
}
button.btn:active {
    box-shadow: 0px 0px #666;
    transform: translate(4px);    
}
button.btn.stop {
    background-color: darkseagreen;
}
.block {
    display: block;
}
.options {
    width: 576px;
    margin-bottom: 20px;
}
.options .octaves {
    margin-top: 14px;
}
.options label, 
.options input {
    cursor: pointer;
}
.options .octaves label:first-of-type,
.options .frequency-type label:first-of-type {
    margin-bottom: 6px;
}
.notes {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.notes div {
    border: 1px solid #222;
    border-radius: 4px;
    background-color: transparent;
    height: 200px;
    width: 60px;
    box-shadow: 5px 7px #B94E48;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}
.notes div:hover {
    box-shadow: inset 0 0 6px 0 #f8a100, 5px 7px #B94E48;
    transition: box-shadow 1s ease;
}
.notes div:nth-child(5) {
    margin-right: -5px;
}
.notes div:nth-child(12) {
    margin-right: -5px;
}
.notes div.black {
    background-color: #222;
    width: 30px;
    height: 100px;
    margin: 0 -25px;
    box-shadow: 3px 3px #B94E48;
    color: whitesmoke;
    align-items: flex-start;
    padding: 4px 0 0;
    z-index: 2;
}
.notes div span {
    font-size: 12px;
    padding-right: 2px;
}
.notes div.active {
    background-color: brown;
    box-shadow: 3px 5px #CD5C5C;
    transform: translate(2px);
}
.d-none {
    display: none;
}